.rounded
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.shadow {
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

body
{
	background-color: #6fbf4d;
	font-family: sans-serif;
}

h1
{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	text-align: center;
	margin-bottom: 0;
}

h2
{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-align: center;
}

h3
{
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

#header
{
	background-color: #fafafa;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#footer
{
	font-size: 0.8em;
	text-align: center;
	color: #ccc;
}

#footer a
{
	font-weight: normal;
	text-decoration: underline;
	color: inherit;
}

#container
{
	background-color: #fafafa;
	padding: 0px;
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #eee;
}

#clientDiv {
	height: 600px;
}

#container3 {
    float:left;
    width:100%;
    height: 98%;
    overflow:hidden;
    position:relative;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
#container2 {
    float:left;
    width:100%;
    position:relative;
    right:30%;
}
#container1 {
    float:left;
    width:100%;
    position:relative;
    right:40%;
}
#queueDiv {
    float:left;
    width: 35%;
    position:relative;
    left:72%;
    background-color: #fff;
}
#chatDiv {
    float:left;
    width: 45%;
    position:relative;
    left: 75%;
    background-color: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    
}
#usersDiv {
    float:left;
    width: 15%;
    position:relative;
    left: 76%;
    background-color: #fff;
}

#messageContainer
{
	height: 95%;
}

#queueContainer
{
	height: 54%;
}

.scroll {
   overflow-y:auto;
   overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track { 
    border-radius: 8px;
    border: 1px solid #eee;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 8px; 
    background-color: #eee;
}

.room:nth-child(even) {
    background-color: #eee;
}

#roomsDiv
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #eee;
}

#roomHeader
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #eee;
	height: 40px;
}

#roomName
{
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding-right: 30px;
}

#nowPlaying
{
	float: left;
	position: relative;
	top: 50%;
	height: 100%;
	margin-top: -12;
}

#passwordBox
{
	float: right;
	position: relative;
	top: 50%;
	height: 100%;
	margin-top: -14;
}

a
{
	font-weight: bold;
	text-decoration: none;
	color : #000;
}

.join
{
	color: #0d0;
}

.leave
{
	color: #d00;
}

.msg span
{
	font-weight: bold;
}

.msg:nth-child(even) {
    background-color: #efefef;
}
.msg:nth-child(odd) {
    background-color: #fafafa;
}

#messageInput
{
	margin-left: auto;
	margin-right: auto;
}

.queuedItem
{
	height: 80px;
	background-color: #fff;
	zoom: 0.8;
	padding-top: 0.3em;
}

.queuedItem img
{
	height: 80px;
	float: left;
}

.queuedItem .itemText
{
	height: 80px;
	padding-top: 10px;
	padding-left: 115px;
}

.queuedItem .title
{
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
}

.author
{
	font-size: 0.8em;
}

.submittedby
{
	font-size: 0.8em;
}


